#
# Source: https://github.com/MashinaMashina/local/Bitrix/blob/master/gitignore
#
 
/local/.idea
/local/.htaccess
/local/upload/
/local/logs/
/local/*.html
/local/sitemap*.xml
/local/~*
/local/*.log
/local/*.sql
/local/Thumbs.db
/local/.DS_Store
/local/._.DS_Store
/local/robots.txt
 
/local/bitrix/.settings.php
/local/bitrix/activities/
/local/bitrix/admin/
/local/bitrix/backup/
/local/bitrix/click.php
/local/bitrix/components/
/local/bitrix/coupon_activation.php
/local/bitrix/footer.php
/local/bitrix/gadgets/
/local/bitrix/header.php
/local/bitrix/image_uploader/
/local/bitrix/images/
/local/bitrix/index.php
/local/bitrix/js/
/local/bitrix/css/
/local/bitrix/license_key.php
/local/bitrix/modules/
/local/bitrix/otp/
/local/bitrix/p3p.xml
/local/bitrix/redirect.php
/local/bitrix/rk.php
/local/bitrix/rss.php
/local/bitrix/sounds/
/local/bitrix/spread.php
/local/bitrix/stop_redirect.php
/local/bitrix/template/
/local/bitrix/themes/
/local/bitrix/tmp/
/local/bitrix/tools/
/local/bitrix/urlrewrite.php
/local/bitrix/virtual_file_system.php
/local/bitrix/web.config
/local/bitrix/wizards/
/local/bitrix/catalog_export/
/local/bitrix/updates/
/local/bitrix/panel/
/local/bitrix/services/
/local/bitrix/php_interface/include/sale_payment/
/local/bitrix/php_interface/include/sale_delivery/
 
/local/bitrix/php_interface/dbconn.php
 
/local/bitrix/cache/
/local/bitrix/managed_cache/
/local/bitrix/stack_cache/
/local/bitrix/html_pages/
/local/bitrix/blocks/
/local/bitrix/resize_cache/
